<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="{{ "/assets/js/print.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tutorial_print_handler.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tutorial_slide_class.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tutorial_SVG_handlers.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tutorial_layout_handlers.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tutorial_main.js" | relative_url }}"></script>