// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.resistor-tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px; /* Adjust font size if needed */
    z-index: 1000; /* Ensure the tooltip is above other elements */
    
}

.resistor-tooltip .color-band {
    display: inline-block;
    width: 15px; /* Increased width for better visibility */
    height: 10px; /* Reduced height for a sleeker look */
    margin-right: 2px;
    border: 1px solid black; /* Optional: Add a border for clarity */
}

.resistor {
    cursor: pointer;
}